@media screen and (max-width: 1638px) {
    .sidenav {
        width: 0;
        display: none;
    }

    .sidenavimg {
        width: 0;
        display: none;
    }
}

@media screen and (max-width: 771px) {
    .navbar-brand {
         display: none;
    }
}

@media screen and (max-width: 1151px) {
    .pokemoninfo {
        width: 100%;
        height: 100%;
        top: 0cm;
        right: 0cm;
        text-align: left;
        font-size: 0.6cm;
        border-radius: 1.5rem;
        margin-left: 0.2cm;
        z-index: 1;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    }

    .navbar {
        width: 100%;
        height: 60%;
        top: 0cm;
        right: 0cm;
        text-align: left;
        font-size: 0.5cm;
        border-radius: 0.5rem;
        margin-left: 0.2cm;
        z-index: 1;
    }
}
@media screen and (max-width: 1151px) {
    .pokedextopbar {
      width: 100%;
      height: 100%;
      top: 0cm;
      right: 0cm;
      text-align: left;
      font-size: 0.6cm;
      border-radius: 1.5rem;
      margin-left: 0.2cm;
      z-index: 1;
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    }
  }