.nametitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}
.pokemoninfo {
    background-color: #fff;
    color: black;
    width: 50%;
    height: 50%;
    text-align: left;
}
pokemoninfo {
    color: #0000;
}